* {
    box-sizing: border-box;
}

body,
ul,
li {
    display: flex;
}

section.gallery {
    width: 90%;
    margin : 0 auto;
}

ul {
    flex-wrap: wrap;
    justify-content: space-between;
}


img {
    padding: 20px;
    border: 3px solid black;
    box-shadow: 0 0 20px 3px #ccc;
    margin : 20px 10px;
    object-fit: none;
}