* {
    box-sizing: border-box;
}

.underline {
    border : 2px solid rgb(0,0,0);
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 2px solid rgb(0, 0, 0);
}

a {
    color: rgb(0, 153, 0);
    text-decoration: none;
}

li {
    padding : 0 20px;
}

ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

header  > p,
header > nav {
    width:50%
}

header > p {
    text-transform: uppercase;
    font-size : 35px;
    font-weight: bold;
}

