@import "font-awesome-sprockets";
@import "font-awesome";

html{
    box-sizing: border-box;
}

a{
    border: 2px solid rgb(255, 140, 0);
    display: inline-block;
    border-radius: 5px;
    padding: 10px 10px;
    background: rgb(255, 140, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a.click{
    border: 2px solid rgb(0, 128, 0);
    background: rgb(0, 128, 0);
}

